---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
SortIncludes: CaseSensitive
ContinuationIndentWidth: 4
PointerAlignment: Left
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BreakBeforeBinaryOperators: All